{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Countries</h1>
    <form method="GET" class="form-inline mb-4">
        <div class="form-group mr-2" style="max-width: 30%;">
            <input type="text" name="search" class="form-control" placeholder="Search for a country" style="width: 100%;">
        </div>
        <div class="form-group mr-2 mt-2" style="max-width: 30%;">
            <select name="region" class="form-control" style="width: 100%;">
            <option value="">All Regions</option>
            {% set selected_region = request.args.get('region') %}
            {% for region in regions %}
                <option value="{{ region }}" {% if selected_region == region %}selected{% endif %}>
                {{ region }}
                </option>
            {% endfor %}
            </select>
        </div>            
        <button type="submit" class="btn btn-primary mt-2">
            <i class="fas fa-filter"></i> Filter
        </button>
    </form>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for country in countries %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ country.images[0].image_url if country.images else 'fallback.jpg' }}" class="card-img-top" alt="{{ country.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ country.name }}</h5>
                    <p class="card-text">{{ country.region }}</p>
                    <a href="{{ url_for('main.country_detail', country_id=country.id) }}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}
